{% extends 'adminlte/base.html' %}
{% block content %}
    <h1>Página de listagem de venda</h1>
    <a class="btn btn-success" href="{% url 'cadastrar_venda' %}">CADASTRAR VENDA</a>

    <table>
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>VALOR</th>
            <th>DATA DA VENDA</th>
            <th>CLIENTE</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
    {% for obj_venda in object_list %}
            <tr>
                <td>{{obj_venda.pk}}</td>
                <td>{{obj_venda.nome}}</td>
                <td>{{obj_venda.valor}}</td>
                <td>{{obj_venda.data_venda}}</td>
                <td>{{obj_venda.cliente}}</td>
                <td>
                    <a href="{% url 'corrigir_venda' obj_venda.pk %}">CORRIGIR VENDA</a>
                     <a href="{% url 'detalhes_venda' obj_venda.pk %}">VER DETALHES | </a>
                    <a href="{% url 'atualizar_observacao_venda' obj_venda.pk %}">| ATUALIZAR OBSERVAÇÃO DA VENDA |</a>
                    <a href="{% url 'atualizar_cliente_venda' obj_venda.pk %}">ATUALIZAR CLIENTE DA VENDA | </a>
                    {% if obj_venda.excluido is False %}
                    <a href="{% url 'ajax_desabilitar_venda' obj_venda.pk %}">DESABILITAR</a>
                    {% else %}
                    <a href="{% url 'ajax_habilitar_venda' obj_venda.pk %}">HABILITAR</a>
                    {% endif %}
                </td>
            </tr>
    {% empty %}
        <h3>Desculpe, você ainda nao possui vendas cadastradas em seu sistema.
            <br/>:'(</h3>
    {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira Página |</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}